/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --main-color: #FFF0E0;
    --secondary-color: #004921;
    --accent-color:  #F48722;

    --light-secondary-color: #105f33;
    --light-accent-color: #f5ac6873;

    --text-color: #001107;
    --text-color-light: #FFFFFF;

    --indent-base: 24px;
    --indent-secondary: 14px;

    --button-base-top: 13px;
    --button-base-sides: 30px;

    --base-radius: 13px;
    --second-radius: 25px;

    font-size: 16px;
    --title-font: "josefin_sanssemibold", sans-serif;
    --body-font: "latoregular", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    background-color: var(--main-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

header,
footer {
    padding: var(--indent-base);
    font-family: var(--title-font);
    z-index: 1;
}

header {
    color: var(--secondary-color);
    background-color: var(--main-color);
}

main {
    background-color: var(--main-color);
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin: var(--indent-base);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

h1 {
    font-size: 3.052rem;
    margin: 25px 80px 0 0;
}

h2 {
    font-family: var(--title-font);
    font-size: 2.441rem;
}

h3 {
    font-family: var(--title-font);
    font-size: 1.953rem;
}

h4 {
    font-family: var(--title-font);
    font-size: 1.563rem;
}

p {
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: 1rem;
    font-weight: 400;
    padding: var(--indent-secondary) 0 0 var(--indent-secondary);
}

p.bold {
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: 1rem;
    font-weight: 600;
    padding-top: var(--indent-secondary);
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    background-color: var(--secondary-color);
}

.open a.active,
.footer-menu h4.active,
.open a:hover,
.footer-menu h4:hover {
    text-decoration: underline;
}

.construction {
    font-size: 360%;
    font-family: var(--title-font);
    color: var(--text-color);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2.4rem;
    height: 100%;
}

.container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.box-text {
    background-color: var(--text-color-light);
    border: none;
    border-radius: var(--second-radius);
    color: var(--secondary-color);
    padding: var(--indent-base);
    margin: var(--indent-secondary) 0;
    max-width: 550px;
    z-index: 0;
}

button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: var(--accent-color);
    border-radius: var(--second-radius);
    border: none;
    color: var(--text-color);
    margin-top: var(--indent-base);
    padding: var(--button-base-top) var(--button-base-sides);
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
    cursor: pointer;
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 1.6rem;
    background-color: var(--secondary-color);
    color: var(--main-color);
}

footer h2 {
    margin: 10px 50px 10px 0;
}

footer h4 {
    margin: 0.4em 0;
}

footer span {
    margin-right: 6px;
    display: none;
}

.footer-item {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0.4em 0;
}

.footer-item a {
    border-radius: 13px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: var(--button-base-top) var(--button-base-sides);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.footer-item a:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
}

/*NAV MENU PLUGIN*/
.open {
    cursor: pointer;
    display: block;
    height: 50px;
    position: fixed;
    right: 40px;
    top: 40px;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    width: 50px;
    z-index: 100;
}

.open span {
    background-color: var(--secondary-color);
    border-radius: 40px;
    clear: both;
    display: block;
    float: left;
    height: 4px;
    overflow: hidden;
    position: absolute;
    right: 3px;
    top: 3px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: 40px;
}

.open span:nth-child(1) {
    margin-top: 10px;
    z-index: 9;
}

.open span:nth-child(2) { margin-top: 25px; }

.open span:nth-child(3) { margin-top: 40px; }

.menu {
    background-color: var(--accent-color);
    border-radius: 50%;
    height: 0;
    overflow: hidden;
    padding-top: var(--indent-secondary);
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    width: 0;
    z-index: 18;
}

.menu li {
    clear: both;
    display: block;
    float: right;
    height: auto;
    margin-right: -160px;
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menu li:first-child { margin-top: 180px; }

.menu li:nth-child(1) { -webkit-transition-delay: 0.05s; }

.menu li:nth-child(2) { -webkit-transition-delay: 0.10s; }

.menu li:nth-child(3) { -webkit-transition-delay: 0.15s; }

.menu li:nth-child(4) { -webkit-transition-delay: 0.20s; }

.menu li:nth-child(5) { -webkit-transition-delay: 0.25s; }

.menu li a {
    color: var(--text-color);
    display: block;
    float: left;
    font-family: var(--title-font);
    line-height: 40px;
    width: 100%;
}

.oppenned .menu {
    height: 400px;
    opacity: 1;
    width: 400px;
}

.oppenned .cls {
    background-color: var(--text-color);
}

.oppenned span:nth-child(2) { overflow: visible; }

.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    z-index: 100;
}

.oppenned span:nth-child(1) { -webkit-transform: rotate(45deg) translateY(12px) translateX(12px); -ms-transform: rotate(45deg) translateY(12px) translateX(12px); transform: rotate(45deg) translateY(12px) translateX(12px); }

.oppenned span:nth-child(2) {
    background-color: var(--secondary-color);
    border-radius: 50%;
    height: 400px;
    right: -160px;
    top: -160px;
    width: 400px;
}

.oppenned span:nth-child(3) { -webkit-transform: rotate(-45deg) translateY(-10px) translateX(10px); -ms-transform: rotate(-45deg) translateY(-10px) translateX(10px); transform: rotate(-45deg) translateY(-10px) translateX(10px); }

.oppenned li { margin-right: 168px; }

@media screen and (min-width:991px) {
    h1 {
        font-size: 3.815rem;
        margin-left: 25px;
    }
    
    h2 {
        font-size: 3.052rem;
    }
    
    h3 {
        font-size: 2.441rem;
    }
    
    h4 {
        font-size: 1.953rem;
    }
    
    p,
    p.bold {

        font-size: 1.25rem;

    }

    main {
        margin: calc(var(--indent-base) * 2);
    }

    .box-text {
        padding: calc(var(--indent-base) * 2);
    }

    footer span {
        margin-right: 6px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
}